* {
  background-color: #fe0065;
  font-family: "Press Start 2P", cursive;
}

#root {
  padding: 1em;
}

.navbar {
  margin-top: 0.5em;
}

.nav-img {
  width: 8em;
  height: auto;
  margin: 1em;
  vertical-align: top;
}

.a-element {
  text-decoration: none;
}

.div-element {
  margin: 1em;
  padding: 3.5em 1em;
  border-radius: 0.3em;
  background-color: white;
}

.div-element > * {
  background-color: white;
}

.list-element {
  width: 7em;
}

.list-img {
  border: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 4em;
  height: auto;
  background-color: white;
}

.list-name {
  font-size: 10px;
  text-align: center;
  background-color: white;
  color: black;
  margin-bottom: 0;
}

.btn-element {
  font-size: 10px;
  align-self: center;
}

.big-circle {
  padding: 0;
  color: white;
  background-color: #00eaed;
  border-radius: 50%;
  border: 0;
}

.tri-stats {
  color: yellow;
}

.red,
.green,
.yellow {
  margin-right: 0.5em;
  vertical-align: top;
}

.red {
  color: blue;
}

.green {
  color: green;
}

.yellow {
  color: yellow;
}

.img-stats {
  width: 6em;
  height: auto;
}

.green-screen {
  margin: 1em;
  padding: 3.5em 1em;
  border-radius: 0.3em;
  background-color: white;
}

.div-element-stats {
  padding: 3.5em 1em;
  border-radius: 0.3em;
  background-color: #99cb98;
  max-width: 15em;
  border: 1em solid white;
}

.div-element-stats > * {
  background-color: #99cb98;
}

.content-1 {
  margin-top: 1em;
}

.text-name {
  background-color: #39b47d;
  padding: 1em;
  margin: 0;
  border-radius: 0.5em;
}

.text-types {
  background-color: #9d9d9d;
  padding: 2.5em;
  margin: 0;
  border-radius: 0.5em;
}
