* {
  background-color: red;
}

#root {
  padding: 1em;
}

.div-element {
  margin: 1em;
  padding: 3.5em 1em;
  border-radius: 0.3em;
  background-color: white;
}

.div-element > * {
  background-color: white;
}

.list-element {
  width: 7em;
}

.list-img {
  border: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.list-name {
  font-size: small;
  text-align: center;
  background-color: white;
}

.btn-element {
  align-self: center;
}
